name: Test runner connection.

on: 
   workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v4
      - name: Print Message
        run: echo "Running on Self-hosted runner."
